$color-1: #ed3f42; // Red
$color-2: #93459c; // Purple
$color-3: #f1d54b; // Yellow
$color-4: #3993eb; // Blue
$color-5: #f47149; // Orange
$color-6: #5fa354; // Green
$color-7: #f172a6; // Pink
// additional colors
$success: #5fa354; // green
$alert: $color-1; // red
$greenlinks: #235d2d; //dark green
$pinklinks: #a32351;
// Media Query breaks
$med-break: 36rem;
$lrg-break: 59rem;
$xlrg-break: 76rem;