@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'base/typography';

body {
    background-image: url(assets/mobile-path-01.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.intro:before {
    display: block;
    content: ' ';
    background-image: url(assets/logo.svg);
    background-repeat: no-repeat;
    max-width: 500px;
    height: auto;
}

.intro {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(3, auto);
    h1 {
        display: none;
    }
}

.supporting {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(4, auto);
}

header, .summary {
    background-color: #fff;
    padding: 0 1rem;
    margin: 0;
    min-width: 200px;
    height: auto;
}

.preamble, .explanation, .participation, .benefits, .requirements {
    background-color: #fff;
    padding: 1rem;
    margin: 2rem 0;
    min-width: 200px;
    height: auto;
}

.design-selection h3 {
    display: none;
}

.design-selection nav[role=navigation] ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    list-style: none;
    margin: 1rem auto;
    padding: 1rem;
    max-width: 200px;
}

.design-name {
    display: block;
    //content: ' ';
    background-image: url(assets/peppermint-01.svg);
    background-repeat: no-repeat;
    max-width: 300px;
    height: auto;
}

@media only screen and (min-width: 36rem) {
    body {
        background-image: url(assets/path.svg);
        background-size: 100%;
    }
    
    header {
        grid-area: byline;
    }

    .summary {
        grid-area: summary;
    }

    .preamble {
        grid-area: preamble;
    }

    .intro {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "byline byline . ."
        "summary summary . ."
        ". preamble . .";
        }

    .explanation {
        grid-area: explanation;
        padding: 2rem;
    }

    .participation {
        grid-area: participation;
    }

    .benefits {
        grid-area: benefits;
    }

    .requirements {
        grid-area: requirements;
    }

    //footer {
        //display: none;
    //}

    .supporting {
        grid-template-columns: 1fr 2fr 2fr 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        ". . explanation ."
        ". participation . ."
        ". . benefits ."
        ". requirements . .";
    }

    .preamble, .explanation, .participation, .benefits, .requirements {
        max-width: 600px;
        height: auto;
    }
    
    .design-selection h3 {
        display: none;
    }

    .design-selection nav[role=navigation] ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        list-style: none;
        margin: 1rem auto;
        padding: 1rem;
        max-width: 1200px;
        //border: 1rem solid black;
    }
}