header {
    background-color: $color-2;
}

.cd-logo {
    /* logo box style */
    background-color: $color-3;
    width: 120px;
    @include MQ(M) {
        width: 180px;
    }
}

.cd-main-nav {
    /* main navigation background color - full screen on small devices */
    background: $color-2;
    li a {
        color: $color-5;
        border-color: lighten($color-2, 5%);
    }
    @include MQ(M) {
        li a {
            color: lighten($color-2, 40%);
            &.selected {
                color: $color-5;
                box-shadow: 0 2px 0 $color-1;
            }
            &:hover {
                color: $color-5;
            }
        }
    }
}

.cd-nav-trigger span {
    /* hamburger menu */
    background-color: #fff;
    &::before,
    &::after {
        /* upper and lower lines */
        background-color: #fff;
    }
}

.nav-is-visible .cd-nav-trigger span {
    /* hide line in the center on mobile when nav is visible */
    background-color: rgba($color-5, 0);
    &::before,
    &::after {
        /* preserve visibility of upper and lower lines - close icon */
        background-color: rgba($color-5, 1);
    }
}

.cd-download {
    /* download button top-right visible on big devices */
    background-color: lighten($color-2, 10%);
    .no-touch &:hover {
        background-color: lighten($color-2, 15%);
    }
    span {
        /* tooltip */
        background: $color-1;
        color: $color-5;
        &::before {
            /* right arrow color */
            border-color: $color-1;
        }
    }
}

// h3 header color
h3 {
    color: $color-2;
}

// Custom Nav links - 
// Primary navigation settings - for design links
.cd-primary-nav {
    padding: 3em 1em;
    a {
        background-repeat: no-repeat;
        background-position: center;
        width: 120px;
        height: 120px;
        display: block;
        opacity: .9;
        transition: background-image .4s ease-in;
    }
}

// Set the candy backgrounds
.cd-primary-nav {
    li:nth-of-type(1) a {
        background-image: url(/assets/candies-01.svg);
    }
    li:nth-of-type(2) a {
        background-image: url(/assets/candies-02.svg);
    }
    li:nth-of-type(3) a {
        background-image: url(/assets/candies-03.svg);
    }
    li:nth-of-type(4) a {
        background-image: url(/assets/candies-04.svg);
    }
    li:nth-of-type(5) a {
        background-image: url(/assets/candies-05.svg);
    }
}

// Set basic candy hover properties
.cd-primary-nav a:hover {
    opacity: 1;
    animation: candy-wiggle .4s ease-in;
}

// Set the hover candy images
.cd-primary-nav {
    li:nth-of-type(1) a:hover {
        background-image: url(/assets/peppermint-01.svg);
    }
    li:nth-of-type(2) a:hover {
        background-image: url(/assets/peppermint-02.svg);
    }
    li:nth-of-type(3) a:hover {
        background-image: url(/assets/peppermint-03.svg);
    }
    li:nth-of-type(4) a:hover {
        background-image: url(/assets/peppermint-04.svg);
    }
    li:nth-of-type(5) a:hover {
        background-image: url(/assets/peppermint-05.svg);
    }
}

// Make the image move R-L-R and back to center
@keyframes candy-wiggle {
    0% {
        background-position: center;
        background-size: 100%;
        /*80%*/
    }
    25% {
        background-position: right;
        background-size: 70%;
    }
    50% {
        background-position: left;
        background-size: 40%;
    }
    75% {
        background-position: right;
        background-size: 70%;
    }
    100% {
        background-position: center;
        background-size: 100%;
    }
}

// Secondary navigation settings - for footer links
.cd-secondary-nav {
    padding: 3em 1em;
    a {
        background-repeat: no-repeat;
        background-position: center;
        width: 100px;
        height: 100px;
        display: block;
        opacity: .9;
        transition: background-image .4s ease-in;
    }
}

// Set the candy backgrounds
.cd-secondary-nav {
    li:nth-of-type(1) a {
        background-image: url(/assets/jellybeans-01.svg);
    }
    li:nth-of-type(2) a {
        background-image: url(/assets/jellybeans-02.svg);
    }
    li:nth-of-type(3) a {
        background-image: url(/assets/jellybeans-03.svg);
    }
    li:nth-of-type(4) a {
        background-image: url(/assets/jellybeans-04.svg);
    }
    li:nth-of-type(5) a {
        background-image: url(/assets/jellybeans-05.svg);
    }
}

// Set basic candy hover properties
.cd-secondary-nav a:hover {
    opacity: 1;
    animation: candy-jump .4s ease-in;
}

// Make the image jump and get bigger
@keyframes candy-jump {
    0% {
        background-size: 100%;
    }
    25% {
        background-size: 101%;
        background-position: bottom;
    }
    50% {
        background-size: 101%;
        background-position: top;
    }
    75% {
        background-size: 102%;
        background-position: bottom;
    }
    100% {
        background-size: 103%;
        background-position: top;
    }
}

// Rotate candy

/*
@-webkit-keyframes candy-rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(720deg);
    }
}

@-moz-keyframes candy-rotate {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(720deg);
    }
}

@keyframes candy-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(720deg);
    }
}
*/