// aside container
.wrapper {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "archives" "resources" "designs";
}

// set grid areas
.design-archives {
    grid-area: archives;
}

.zen-resources {
    grid-area: resources;
}

.design-selection {
    grid-area: designs;
    text-align: left;
}

abbr {
    text-decoration: none;
}

.design-archives,
.zen-resources,
.design-selection {
    background-color: #fff;
    padding: 0;
    margin-top: -1rem;
    min-width: 100px;
    height: auto;
    border-radius: .5rem;
}

#design-archives {
    content: ' ';
    background: url(assets/sign-01.svg) no-repeat top left;
    height: 270px;
    grid-row: 1;
    background-repeat: no-repeat;
    position: relative;
    h3 {
        display: none;
    }
    ul {
        text-align: left;
        //border: 2px solid black;
        padding: 3.7rem 0 0 4.5rem;
        position: absolute;
        li {
            list-style-type: none;
            font-size: .8rem;
            font-weight: 900;
            line-height: 1.5rem;
            a {
                color: #fff;
            }
        }
    }
}

#zen-resources {
    content: ' ';
    background: url(assets/sign2-01.svg) no-repeat top left;
    height: 260px;
    grid-row: 2;
    background-repeat: no-repeat;
    position: relative;
    h3 {
        display: none;
    }
    ul {
        text-align: left;
        //border: 2px solid black;
        padding: 3.8rem 0 0 3.3rem;
        position: absolute;
        li {
            list-style-type: none;
            font-size: .8rem;
            font-weight: 900;
            line-height: 1.5rem;
            a {
                color: #fff;
            }
        }
    }
}

.next,
.viewall,
.view-css,
.css-resources,
.zen-faq,
.zen-submit,
.zen-translations {
    a::before {
        content: "» ";
    }
}

#design-selection h3 {
    padding-left: 2rem;
}

.explanation,
.participation,
.benefits,
.requirements {
    max-width: 300px;
    margin: 50px auto;
}

.requirements {
    margin-bottom: 200px;
}

@media only screen and (min-width: $med-break) {
    .wrapper {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: ". archives archives resources resources ." " designs designs designs designs designs designs";
    }
    #design-archives {
        grid-row: 1;
        grid-column: 1/4;
    }
    #zen-resources {
        grid-row: 1;
        grid-column: 4/7;
        h3 {
            display: none;
        }
    }
}

@media only screen and (min-width: $lrg-break) {
    .wrapper {
        grid-template-columns: 1fr 3fr 3fr 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: ". archives resources ." "designs designs designs designs";
    }
    #design-archives {
        grid-row: 1;
        grid-column: 2/3;
    }
    #zen-resources {
        grid-row: 1;
        grid-column: 3/4;
        h3 {
            display: none;
        }
    }
}

@media only screen and (min-width: $xlrg-break) {
    .wrapper {
        margin-left: -80px;
    }
}