body {
	background-image: url(assets/mobile-path-01.svg);
	background-repeat: no-repeat;
	background-size: 510px;
  min-width: 360px;
}

@media only screen and (min-width: $med-break) { 

  body {
    background-image: url(assets/med-sm-path-01.svg);
    background-position: center top;
    background-size: 700px;
    margin: 0 auto;
  }

}

@media only screen and (min-width: $lrg-break) {
  body {
    background-image: url(assets/path-01.svg);
    background-position: center top;
    background-size: 900px;
  }

}

  @media only screen and (min-width: $xlrg-break) {
    body {
      background-image: url(assets/path-01.svg);
      background-position: center top;
      background-size: 900px;
      max-width: 1000px;
    }

}