//grid for candy - list inside a role="navigation"
.design-selection nav[role=navigation] ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1.5rem;
    list-style: none;
    margin: 1rem auto;
    // padding: 1rem;
}

.design-selection nav ul li {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 7fr 1fr;
    grid-template-areas: "design-name" "designer-name";
    text-align: left;
    min-width: 14rem;
    opacity: .95;
    transition: background-image .4s ease-in;
    font-size: 0;
    //outline: green solid 1px;
    margin-top: 1.25rem;
}

.design-name {
    grid-area: design-name;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: $color-5;
    background-repeat: no-repeat;
    background-size: 8rem;
    background-position-y: bottom;
    background-position-x: left;
    //outline: purple solid 1px;
}

.designer-name {
    grid-area: designer-name;
    font-size: .8rem;
    color: darken($color-4, 15%);
    &:hover {
        font-weight: 600;
        text-decoration: underline;
    }
}

.designer-name::before {
    content: "by ";
    font-size: .7rem;
    color: darken($color-4, 15%);
}

// Make a list of design links and associate them with a candy number
$candy_pairs: 221 1,
220 2,
219 7,
218 4,
217 5,
216 6,
215 8,
214 3;
// Create the link backgrounds and hover backgrounds using $candy_pairs list
@each $candy_pair in $candy_pairs {
    a[href="/#{nth($candy-pair,1)}/"] {
        background-image: url('assets/candies-0#{nth($candy_pair,2)}.svg');
        &:hover {
            background-image: url('assets/peppermint-0#{nth($candy-pair,2)}.svg');
            font-weight: 600;
            text-decoration: underline;
        }
    }
}

// Set basic candy hover properties
.design-name:hover {
    opacity: 1;
    animation: candy-wiggle .4s ease-in;
}

// Make the image move R-L-R and back to center
@keyframes candy-wiggle {
    0% {
        background-position: center;
        //transform: translateX(0);
        background-size: 9rem; //40%;
    }
    25% {
        background-position: left;
        //transform: translateX(-50px);
        background-size: 12rem; //70%;
    }
    50% {
        background-position: right;
        //transform: translateX(50px);
        background-size: 15rem; //40%;
    }
    75% {
        background-position: left;
        //transform: translateX(-50);
        background-size: 12rem; //70%;
    }
    100% {
        background-position: center;
        //transform: translateX(0);
        background-size: 9rem; //100%;
    }
}

// --
@media only screen and (min-width: $med-break) {
    //grid for candy - list inside a role="navigation"
    h3.select {
        text-align: center;
        margin-top: 2.5rem;
        margin-bottom: 0;
    }
    h3.archives {
        margin-bottom: 0;
    }
    .design-selection nav[role=navigation] ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        list-style: none;
        column-gap: .25rem;
        padding: .25rem;
    }
    #design-selection ul {
        margin-top: 0;
    }
    .design-selection nav ul li {
        grid-template-rows: 6fr 1fr;
    }
    .design-name {
        min-width: 17rem;
        text-align: center;
        background-position-x: center;
        font-size: 1.2rem;
    }
    .designer-name,
    .designer-name::before {
        font-size: 1rem;
        text-align: center;
    }
}

@media only screen and (min-width: $lrg-break) {
    .design-selection nav[role=navigation] ul {
        column-gap: .5rem;
    }
    .design-name {
        min-width: 17rem;
        font-size: 1.25rem;
    }
    .designer-name,
    .designer-name::before {
        font-size: 1rem;
    }
}

@media only screen and (min-width: $xlrg-break) {
    //grid for candy - list inside a role="navigation"
    .design-selection nav[role=navigation] ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        list-style: none;
        column-gap: 0;
        padding: .25rem;
    }
    .design-name {
        min-width: 19rem;
    }
}