//@media only screen and (min-width: 36rem) {
//coming soon. it's going to be amyazing
//}
footer {
   // position: relative;
    //top: 0;
    //left: 0;
    //bottom: 0;
   //@at-root right: 0;
   // padding: 0;
   margin-top: -30rem;
    a:nth-child(1)::after {
        content: ' | '
    }
    a:nth-child(2)::after {
        content: ' | '
    }
    a:nth-child(3):after {
        content: '  |  '
    }
    a:nth-child(4):after {
        content: '  |  '
    }
}